{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Métodos Numéricos</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'css/tema.css' %}">
    <link rel="stylesheet" href="{% static 'css/metodoAdicional.css' %}">
    </head>
    
    <body>
    <div class="container">
        <div class="header-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <a href="{% url '' %}" class="logo">
                                <img src="{% static 'img/icon/log.png' %}"/>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="row p-3 indice">
                    <div class="col-12">
                        <br>
                        <ol>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#primero"> Introducción al tema</a></li>
                            <hr>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#segundo"> Descripción del tema</a></li>
                            <hr>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#tercero"> Convergencia</a></li>
                            <hr>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#cuarto"> Ejemplos prácticos</a></li>
                            <hr>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#quinto"> Material adicional</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="scrollable">
                    <h2>Método de la Secante</h2>
                    <table id="primero">
                        <thead>
                            <tr>
                                <th>Introducción</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td>
                                    El método de la secante es un método para encontrar los ceros de una función de forma iterativa. Uno de los objetivos de este método es eliminar el problema de la derivada de la función, ya que existen funciones que describen fenómenos físicos en la vida real, cuya derivada es muy compleja.<br>
                                    <img src="{% static 'img/teoria/secante.png' %}" style="width:40%" alt="" class="mx-auto d-block">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                   
                    <table id="segundo">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td>
                                    El método se define por la relación de recurrencia: <br>
                                    <img src="{% static 'img/teoria/formula.png' %}" style="width:25%" alt="" class="mx-auto d-block">
                                    El método se basa en obtener la ecuación de la recta que pasa por los puntos (x<sub>n−1</sub>, f(x<sub>n−1</sub>)) y (x<sub>n</sub>, f(x<sub>n</sub>)). A dicha recta se le llama secante por cortar la gráfica de la función. En la imagen de arriba a la derecha se toman los puntos iniciales x<sub>0</sub> y x<sub>1</sub>, se construye una línea por los puntos (x<sub>0</sub>, f(x<sub>0</sub>)) y (x<sub>1</sub>, f(x<sub>1</sub>)). En forma punto-pendiente, esta línea tiene la ecuación mostrada anteriormente. Posteriormente se escoge como siguiente elemento de la relación de recurrencia, x<sub>n+1</sub>, la intersección de la recta secante con el eje de abscisas obteniendo la fórmula, y un nuevo valor. Seguimos este proceso, hasta llegar a un nivel suficientemente alto de precisión (una diferencia lo suficientemente pequeñas entre x<sub>n</sub> y x<sub>n-1</sub>).

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table id="tercero">
                        <thead>
                            <tr>
                                <th>Convergencia</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td>El orden de convergencia de este método, en un punto cercano a la solución, es <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/33ee699558d09cf9d653f6351f9fda0b2f4aaa3e"> donde <br>
                                <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/9dca95be2e8f341109ebf27e277f0f5fea65cc67"><br>
                                es el número áureo, por lo que se trata de una convergencia superlineal inferior a la del método de Newton-Raphson. En caso de que la aproximación inicial sea demasiado lejana o la raíz no sea simple, este método no asegura la convergencia y tiene un comportamiento similar al de Newton-Raphson. </td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="cuarto" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Ejemplos prácticos</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td><img src="{% static 'img/ejercicios/secantep1.PNG' %}" style="margin-left: 10%;"></td>
                            </tr>
                            <tr>
                                <td><img src="{% static 'img/ejercicios/secantep2.PNG' %}" style="margin-left: 10%;"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="quinto" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Material Adicional</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td>Video Tutorial del método de la secante para un mejor entendimiento de la temática
                               <a href="https://youtu.be/TDb0j8ENwBo">Secante</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </body>

</html>