{% extends 'puntofijo/calculadora.html' %}

{% block content %}        
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container-fluid" style="margin-bottom: 20rem;">       
        <div class="row">
            <div style="margin:0 auto;">
                {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
                    <strong>ERROR: {{message}}</strong>

                </div>
                {% else %}
                <div > 
                    <div class="alert alert-success alert-dismissible fade show" role="alert"> 
                        <strong>GRÁFICA</strong>
                    </div>
                    <div class="card">
                        <center><img src="plot" width="600px" /></center>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert"> 
                        <strong>RESPUESTA</strong>
                    </div>
                    <table class="table table-striped table-hover">
                        <thread class="thread-green">
                            <tr>
                                <th >Iteración</th> 
                                <th >X<sub>0</sub></th>
                                <th >f<sub>(X0)</sub></th>
                                <th >g<sub>(X0)</sub></th> 
                                <th >Error absoluto</th> 
                            </tr>
                        </thread>
                                                
                        {% if resp%}
                            {% for i in resp %}
                            <tr>
                                <td >{{i.iter}}</td>
                                <td >{{i.x0}}</td>
                                <td >{{i.fx0}}</td>
                                <td >{{i.gx0}}</td>
                                <td >{{i.errorA}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>     
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>
<!-- subida de archivo 0-->
{% endblock %}