{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Métodos Numéricos</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'css/tema.css' %}">

    <link rel="stylesheet" href="{% static 'css/metodoAdicional.css' %}">

    </head>
    
    <body>
    <div class="container">
        <div class="header-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <a href="{% url '' %}" class="logo">
                                <img src="{% static 'img/icon/log.png' %}"/>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="row p-3 indice">
                    <div class="col-12">
                        <br>
                        <ol>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#primero"> Introducción al tema</a></li>
                            <hr>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#segundo"> Descripción del tema</a></li>
                            <hr>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#tercero"> Convergencia</a></li>
                            <hr>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#cuarto"> Ejemplos prácticos</a></li>
                            <hr>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#quinto"> Material adicional</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="scrollable">
                    <h2>Método de Punto Fijo</h2>
                    <table id="primero">
                        <thead>
                            <tr>
                                <th>Introducción</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td>El método del punto fijo es un método iterativo que permite resolver sistemas de ecuaciones no necesariamente lineales. En particular se puede utilizar para determinar raíces de una función de la forma f(x), siempre y cuando se cumplan los criterios de convergencia.<br>
                                <img src="{% static 'img/teoria/puntofijo.png' %}" style="width:40%" alt="" class="mx-auto d-block">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                   
                    <table id="segundo">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td>
                                    Un punto fijo de una función  g es un número  p tal que g(p)=p. El problema de encontrar las soluciones de una ecuación  f(x)=0 y el de encontrar los puntos fijos de una función  h(x) son equivalentes en el siguiente sentido: dado el problema de encontrar las soluciones de una ecuación  f(x)=0, podemos definir una función g con un punto fijo  p de muchas formas; por ejemplo, f(x)=x - g(x). En forma inversa, si la función  g tiene un punto fijo en  p, entonces la función definida por f(x)=x - g(x) posee un cero en  p.
                                    <br><br>
                                    El método de punto fijo inicia con una aproximación inicial  x<sub>0</sub> y  x<sub>i+1</sub> = g(x<sub>i</sub>) genera una sucesión de aproximaciones la cual converge a la solución de la ecuación  f(x)=0. A la función $ g$ se le conoce como función iteradora. Se puede demostrar que dicha sucesión < x<sub>n</sub> > converge siempre y cuando  | g^(x) | <1.<br>
                                    <img src="{% static 'img/teoria/desc.png' %}" style="width:40%" alt="" class="mx-auto d-block">
                                    </td>
                            </tr>
                        </tbody>
                    </table>

                    <table id="tercero" class="col-12">
                        <thead>
                            <tr>
                                <th>Convergencia</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td>
                                    Supongamos que se cumplen las siguientes hipótesis: <br>
                                    1. g(x) es una función de clase C<sup>1</sup>[a, b].<br>
                                    2. g(x) ∈ [a, b] para todo x ∈ [a, b].<br>
                                    3. max |g'(x)| = M<sub>1</sub> < 1. (x ∈ [a, b])<br>
                                    Entonces, son ciertas las siguientes afirmaciones:<br>
                                    1. La ecuación x = g(x) tiene solución única α en [a, b].<br>
                                    2. La iteración de punto fijo x<sub>j+1</sub> = g(x<sub>j</sub> ) converge a la solución α para cualquier valor inicial x<sub>0</sub> ∈ (a, b).<br>
                                    3. El error e<sub>j</sub> = α − x<sub>j</sub> , verifica la desigualdad <br>
                                    |e<sub>j</sub>| ≤ M<sup>j</sup><sub>1</sub> (b − a).
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table id="cuarto" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Ejemplos prácticos</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td><img src="{% static 'img/ejercicios/puntofijop1.PNG' %}" style="margin-left: 10%;"></td>
                            </tr>
                            <tr>
                                <td><img src="{% static 'img/ejercicios/puntofijop2.PNG' %}" style="margin-left: 10%;"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="quinto" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Material Adicional</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td>Video Tutorial del método de punto fijo para un mejor entendimiento de la temática
                               <a href="https://youtu.be/VVmNjVILwko">Punto fijo</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </body>

</html>