table {
    border-collapse: collapse;
    color: #3f3f3f;
    text-indent: initial;
    border-spacing: 2px;
}
table th {
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    border-bottom-color: #c9c9c9;
}
table th, table td {
    padding: 10px 15px;
}

th {
    text-align: inherit;
}
table td {
    border: 1px solid #e8e8e8;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
h2{
    padding: 10px 15px;    
}