@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-size: 16px;
    background-color: #F4AAFC;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

::selection{
    color: #fff;
    background: #FC4CAA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.custom-box {

    max-width: 600px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes fadeInRight {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.custom-box::before,
.custom-box::after{
    content: '';
    clear: both;
    display: table;
}
.custom-box.hide{
    display: none;
}

.home-box h3 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
    font-size: 18px;
    color: #000000;
    font-weight: 500px;
    margin-bottom: 25px;
    line-height: 25px;
}

.home-box p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
}

.home-box p span {
    font-weight: 500px;
}

.home-box .btn {
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #E1C9E3;
    cursor: pointer;
    margin-top:20px;
    float: right;
}

.btn{
    padding: 12px 40px;
    background-color: #29A7EA;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sanfserif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .answers-indicator{
    width: 100%;
    float: left;
}

.quiz-box .next-question-btn{
    float: right;

}
.quiz-box .question-number{
    padding-top: 15px;
    border-top: 1px solid #cccccc;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
    line-height: 25px;
}

.quiz-box .question-text{
    font-size: 22px;
    color: #000000;
    line-height: 28px;
    font-weight: 700;
    padding: 20px 0;
    margin: 0;
}

.quiz-box .option-container .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    padding: 8px 15px;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

.quiz-box .option-container .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

.quiz-box .option-container .option.already-answered{
    pointer-events: none;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.quiz-box .option-container .option.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #85DE90;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

@keyframes slideInLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.quiz-box .option-container .option.wrong::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #F57A6D;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.quiz-box .option-container .option.wrong{
    color: #ffffff;
}

.quiz-box .option-container .option.correct{
    color: #ffffff;
}

.quiz-box .btn{
    margin: 15px 0;
}


.result-box{
    text-align: center;
}

.result-box.hide{
    display: none;
}

.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color: #29A7EA;
}

.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin:30px 0;
}

.result-box table td{
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000;
    width: 50%;
    text-align: left;
    font-size: 18px;
}

.result-box .btn{
    margin-right: 20px;
}

.quiz-box .title{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
}



@media(max-width: 767px){
    .result-box .btn{
        margin-bottom: 15px;
    }
    body{
        padding: 15px;
    }
}

