{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Calculadora Bairstow</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/calculadora.css' %}">
    <link rel="stylesheet" href="{% static 'css/agregarFormulario.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script  type="text/javascript">
     $(document).ready(function() {
            $("#add").click(function() {
                var intId = $("#buildyourform div").length + 1;
                var fieldWrapper = $("<div class=\"fieldwrapper\" id=\"field" + intId + "\"/>");
                var fName = $("<input type=\"text\" class=\"fieldname\" />");
                var removeButton = $("<input type=\"button\" class=\"remove\" value=\"Quitar\" />");
                removeButton.click(function() {
                    $(this).parent().remove();
                });
                fieldWrapper.append(fName);
                fieldWrapper.append(removeButton);
                $("#buildyourform").append(fieldWrapper);
            });
        });

    </script>   

    </head>
    
    <body>
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url '' %}" class="logo">
                            <img src="{% static 'img/icon/log.png' %}" alt="Softy Pinko"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <section class="get_in_touch">
        <h1 class="title">Método de Bairstow</h1>
        <div class="container">
            <form  class="contact-form row" action="ResultBairstow" method='POST'>
                {% csrf_token %}
                <div class="form-field col-lg-6">
                    <input class="input-text" type="number" name="r">
                    <label  class="label">Valor r</label>
                </div>
                <div class="form-field col-lg-6">
                    <input class="input-text" type="number" name="s">
                    <label class="label">Valor s</label>
                </div>
                <div class="form-field col-lg-12">
                    <center>
                   
                    <fieldset id="buildyourform">
                            <legend>Ingresa coeficientes del polinomio</legend>
                            <input type="text" name="field_name[]" value=""/>
                            <input type="text" name="field_name[]" value=""/>
                        </fieldset>
                     <div class="form-field col-lg-4">
                        
                        <input type="button" value="Añadir" class="add" id="add" />
                    </div>
  
                    </center>
                </div>
                
                
                
                
           
                <div class="form-field col-lg-12 derecha">
                    <input class="submit-btn" type="submit" value="calcular" name="">
                </div>
            </form>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}"></script>
    
    <center>
        {% block graph %}  
        {% endblock %}
    </center>
    {% block content %}    
    {% endblock %}
    
  </body>
</html>