{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Calculadora Bisección</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/calculadora.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/resultadoCalculadora.css' %}">   <!-- * Estilos de respuesta de calculadora * -->
    
    </head>
    
    <body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url '' %}" class="logo">
                            <img src="{% static 'img/icon/log.png' %}" alt="Softy Pinko"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <section class="get_in_touch">
        <h1 class="title">Método de Bisección</h1>
        <div class="container">  
            <form  class="contact-form row" action="ResultBiseccion" method='POST'>
                {% csrf_token %}
                <div class="form-field col-lg-8">
                    <input id="funcion" class="input-text" type="text" name="pol" required>
                    <label for="funcion" class="label">Función</label>
                </div>
                <div class="form-field col-lg-4">
                    <label for="funcion" class="label"><a class="btn btn-primary" href="{% url 'graficar'%}" style="margin-left: 10px;">Ver en gráfica</a></label> 
                </div>
                <div class="form-field col-lg-6">
                    <input id="inicialx0" class="input-text" type="text" name="a" required>
                    <label for="inicialx0" class="label">Valor inicial x0</label>
                </div>
                <div class="form-field col-lg-6">
                    <input id="inicialx1" class="input-text" type="text" name="b" required>
                    <label for="inicialx1" class="label">Valor inicial x1</label>
                </div>
                <!--
                <div class="form-field col-lg-6">
                    <input id="tolerancia" class="input-text" type="number" name="">
                    <label for="tolerancia" class="label">Tolerancia deseada</label>
                </div>
                -->
                <div class="form-field col-lg-12 derecha">
                    <input class="submit-btn" type="submit" >
                </div>
            </form>
        </div>
    </section>    
    
    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}"></script>
    <center>
        {% block graph %}  
        {% endblock %}
    </center>
    {% block content %}    
    {% endblock %}
    
  </body>
</html>