{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Métodos Numéricos</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'css/tema.css' %}">

    <link rel="stylesheet" href="{% static 'css/metodoAdicional.css' %}">

    </head>
    
    <body>
    <div class="container">
        <div class="header-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <a href="{% url '' %}" class="logo">
                                <img src="{% static 'img/icon/log.png' %}"/>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="row p-3 indice">
                    <div class="col-12">
                        <br>
                        <ol>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#primero"> Introducción al tema</a></li>
                            <hr>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#segundo"> Descripción del tema</a></li>
                            <hr>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#tercero"> Convergencia</a></li>
                            <hr>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#cuarto"> Ejemplos prácticos</a></li>
                            <hr>
                            <li><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg><a href="#quinto"> Material adicional</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="scrollable">
                    <h2>Método de Bisección</h2>
                    <table id="primero">
                        <thead>
                            <tr>
                                <th>Introducción</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td>El método de bisección es un algoritmo de búsqueda de raíces que trabaja dividiendo el intervalo a la mitad y seleccionando el subintervalo que tiene la raíz. Esto se logra llevar a cabo a través de varias interacciones que son aplicadas en un intervalo para por medio de ello encontrar la raíz de la función.
								Este es uno de los métodos más sencillos de fácil intuición para resolver ecuaciones en una variable, también conocido como método del intervalo medio, este se basa en el teorema del valor intermedio. <br>
								<img src="{% static 'img/teoria/biseccion.png' %}" alt="" class="mx-auto d-block">
								</td>
                            </tr>
                        </tbody>
                    </table>
                   
                    <table id="segundo">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td>
                                Este método consiste en dividir el intervalo que contiene la raíz en dos subintervalos del mismo tamaño, se evalúan los extremos y el punto medio en la función para determinar los signos de f en dichos puntos, basados en el teorema del valor intermedio, explicado en la sección de búsquedas incrementales, se decide cual de lo subintervalos es el que contiene la raíz, para continuar con el proceso. Cuando se aplican los pasos anteriores de forma repetida, se origina una sucesión de valores formado por los puntos medios obtenidos en cada iteración. La sucesión converge a uno de las raíces de la ecuación.<br><br>
                                <strong>PRIMER PASO</strong><br>
								Consiste en considerar un intervalo (xi, xd) en el que se garantice que la función tiene raíz.<br>
								<img src="{% static 'img/teoria/primerpaso.png' %}" alt="" style="width:40%" class="mx-auto d-block"><br><br>
								<strong>SEGUNDO PASO</strong><br>
								El segmento se divide en dos, tomando el punto de bisección xr como aproximación de la raíz buscada.
								<img src="{% static 'img/teoria/segundopaso.png' %}" alt="" style="width:40%" class="mx-auto d-block"><br><br>
								<strong>TERCER PASO</strong>
								<ul>
									<li>
										- Si xr es la raíz buscada - f(xr)=0 – fin de proceso
									</li>
									<li>
										- Si no, determinar en cual de las dos mitades se encuentra la raíz
									</li>
								</ul>
								<img src="{% static 'img/teoria/tercerpaso.png' %}" alt="" style="width:60%" class="mx-auto d-block">
								</td>
                            </tr>
                        </tbody>
                    </table>

                    <table id="tercero">
                        <thead>
                            <tr>
                                <th>Demostración de la convergencia</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td>
                                    Suponiendo que se cumplen las condiciones iniciales para la puesta en práctica del algoritmo, definimos r como una raíz dentro del intervalo [a, b]. El intervalo de búsqueda en el n-ésimo paso tiene longitud: <br><br>
                                    <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/085ae55784ab64014072c1f7cbc38b5de2303ace">
                                    Como r<sub>n</sub>, que es la raíz n-ésima calculada, se encuentra siempre dentro del intervalo de búsqueda, tenemos entonces que:<br><br>
                                    <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/8f004ccc92680d3fb2b64a57509fa351163ade31"><br>
                                    Tomando límites,<br><br>
                                    <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/ef24fb9dec5a7401dfb41ca9596abebb0d24050e"><br><br>
                                    Queda demostrado entonces, que si se cumplen las condiciones iniciales del problema, el método de bisección converge al menos, a una de las raíces que se encuentran en el intervalo señalado.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="cuarto" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Ejemplos prácticos</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td><img src="{% static 'img/ejercicios/biseccion.PNG' %}" style="margin-left: 10%;"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="quinto" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Material Adicional</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr>
                                <td>Video Tutorial del método de biseccion para un mejor entendimiento de la temática
                               <a href="https://www.youtube.com/watch?v=m6uahP62olo">Biseccion</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </body>

</html>